{% extends "base.html" %}

{% block content %}

    <div id="fullscreen_bg" class="fullscreen_bg">
        <div class="container-body">

            <div class="container" id="title-container">
                <h1 id="is-title" id="snap-title">InterSnap</h1>
                <h4> A snapshot of the Internet through times </h4>
            </div>
            <hr>
            <div class="container" id="popup-container">
                <h2>Last update: 2015</h2>
                <h4 id="is-title">Next scheduled update: 2016</h4>
            </div>

        </div>
    </div>

{% endblock %}